div,
body,
html,
p,
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #153243;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.markdown {
    color: #153243 !important;
    height: 100%;

    & .mdxeditor-diff-source-wrapper {
        height: 100%;
    }

    & .mdxeditor-root-contenteditable {
        height: 100%;
        min-height: 100%;

        & > div {
            height: 100%;
        }
    }
}

.markdown .mdxeditor-root-contenteditable > div {
    padding: 10px 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown p,
.markdown li,
.markdown blockquote {
    color: #153243 !important;
}

.markdown a,
.markdown a > * {
    color: #06b7a7 !important;
}

.markdown-editable {
    height: 100%;
    min-height: 100%;
    font-size: 20px;
}

.markdown-editable img {
    max-width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #00d8bd;
    color: #fff !important;
}
